.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header nav {
    display: none;
}

.menu-burg{
    filter: invert(100%);
}


.menu{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,56,121,1) 61%, rgba(6,115,172,1) 80%, rgba(2,178,226,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    color: white;
    padding: 0.4rem 0;
    font-weight: 600;
}

.header-bg{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,56,121,1) 0%, rgba(2,178,226,1) 100%, rgba(0,212,255,1) 100%);
}



/* Computador */

@media (min-width:768px){
    .header nav {
        display:flex;
        gap: 1.5rem;
    }

    .header a{
        font-size: 1.3rem;
        font-weight: 600;
        color: white;
    }

    .header a:hover{
        color: #ffa500;
    }

    .menu-burg{
        display: none;
    }
}